img {
    width: 400px;
    ;
    height: auto;
}

.miniatura {
    max-width: 150px;
    max-height: 150px;
}

* {
    font-size: 98%;
    font-family: Calibri;
}

h3 {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

p.a {
    text-align: right;
    line-height: 0.1;
}